
.container-component{
    -fx-background-color: #d6d6d6;
    -fx-background-radius: 5px;
}
.background-component{
    -fx-background-color: #cccccc;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 30, 0.15, 0, 10); 
}

/* Title Styles */
.label-subtitle {
    -fx-font-size: 18px;
    -fx-text-fill: #363939;
}

/* Text Field Styles */
.text-field {
    -fx-background-color: #ffffff;
    -fx-background-radius: 8;
    -fx-border-radius: 8;

    -fx-border-color: #dcdde1;
    -fx-border-width: 1;

    -fx-font-size: 14px;
    -fx-text-fill: #2c3e50;

    -fx-padding: 8 12;
}
.text-field:focused {
    -fx-border-color: #2980b9;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;
}
.text-field-search {
    -fx-background-color: #f5f6fa;
    -fx-background-radius: 20;
    -fx-border-radius: 20;

    -fx-border-color: transparent;

    -fx-padding: 8 15;
    -fx-font-size: 13px;
}
.text-field-search:focused {
    -fx-border-color: #2980b9;
    -fx-border-width: 2;
    -fx-background-color: #ffffff;
}

/* Primary Button Styles */
.btn-primary {
    -fx-background-color: linear-gradient(to bottom, #818a82, #728579);
    -fx-text-fill: rgb(27, 25, 25);

    -fx-font-size: 12px;
    -fx-font-weight: bold;

    -fx-padding: none;
    -fx-background-radius: 10;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0, 0, 3);
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: linear-gradient(to bottom, #637966, #506d61);
}
.btn-primary:pressed {
    -fx-translate-y: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 4, 0, 0, 1);
}

/* Table View Styles */
/* Nền tổng thể TableView */
.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #e6e9ef;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

/* Header */
.table-view .column-header-background {
    -fx-background-color: #f3f6fb;
    -fx-background-radius: 12 12 0 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-padding: 12 10;
}

/* Dòng dữ liệu */
.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: #f0f2f5;
    -fx-border-width: 0 0 1 0;
}

/* Hover */
.table-row-cell:hover {
    -fx-background-color: #f5f9ff;
}

/* Selected */
.table-row-cell:selected {
    -fx-background-color: #eaf2ff;
    -fx-text-fill: #2c3e50;
}

/* Text trong cell */
.table-cell {
    -fx-text-fill: #34495e;
    -fx-padding: 10;
}

/* Scrollbar sáng */
.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}
.button-table {
    -fx-font-size: 12px;
    -fx-background-radius: 8;
    -fx-padding: 6 12;
    -fx-cursor: hand;
}

.btn-table-edit {
    -fx-background-color: linear-gradient(#4facfe, #00f2fe);
    -fx-text-fill: white;
}

.btn-table-edit:hover {
    -fx-background-color: linear-gradient(#00c6ff, #0072ff);
}

/* Nút xóa */
.btn-table-delete {
    -fx-background-color: linear-gradient(#ff5858, #f857a6);
    -fx-text-fill: white;
}

.btn-table-delete:hover {
    -fx-background-color: linear-gradient(#ff416c, #ff4b2b);
}
.show-statistic{
    -fx-background-color: linear-gradient(to bottom, #a2aaa8, #6bc05a);
}