*{
    -fx-text-fill: #ffffff;
}
.root {
    -fx-font-family: "Inter", "Segoe UI", sans-serif;
    -fx-background-color: linear-gradient(
        to bottom right,
        #F7F5F2,
        #EFEAE5
    );
    
}

.header {
    -fx-background-color: linear-gradient(
        to right,
        #2E1B14,
        #4E342E
    );
    
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.35), 18, 0, 0, 6);
}
.leftmenu{
    -fx-background-color: linear-gradient(
        to bottom,
        #3E2723,
        #2E1B14
    );
    
}
.header-leftmenu{
    -fx-background-color: #9499a6;
}

.form-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 16;
    -fx-padding: 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 6);
}

.title-main {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}.title-button {
    -fx-font-size: 15px;
}
.button-leftmenu {
    -fx-background-color: transparent;   /* không nền */
                 /* màu chữ */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 170px;
    -fx-border-width: 0 0 0 4;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

/* Hover */
.button-leftmenu:hover {
    -fx-text-fill: #2980b9;
    -fx-background-color: rgba(13, 69, 125, 0.08);
    -fx-border-color: #2980b9;
}

/* Khi click */
.button-leftmenu:pressed {
    -fx-background-color: rgba(5, 58, 94, 0.15);
}

/* Trạng thái được chọn (active) */
.button-leftmenu.active {
    -fx-text-fill: #2980b9;
    -fx-background-color: rgba(41, 128, 185, 0.12);
    -fx-border-color: #2980b9;
}

